<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ceiba.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CFC800029FAF45A00A9B277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFC801929FAF45C00A9B277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFC802329FAF45C00A9B277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
